<section class="bg-info py-5">
    <h1 class="font-weight-bolder text-center" style="font-size:4rem">Hello!</h1>
    <h5 class="font-weight-bolder text-center text-muted" style="font-size:2rem">Make your account to be up to date!</h5>
    <div class="container w-100">
        <form>
            <div class="form-group w-75 mx-auto">
                <label>User Name: </label>
                <input class="form-control" type="text" placeholder="Enter user name" id="nameInput">
                <!--alert div-->
                <div class="alert alert-danger text-danger is-invalid d-none" id="nameInputAlert">
                    <p>Entre a valid username</p>
                </div>
            </div>
            <div class="form-group w-75 mx-auto">
                <label>Email Address: </label>
                <input class="form-control" type="email" placeholder="Enter email" id="emailInput">
                <!--alert div-->
                <div class="alert alert-danger text-danger is-invalid d-none" id="emailInputAlert">
                    <p>Entre a valid email</p>
                </div>
            </div>
            <div class="form-group w-75 mx-auto">
                <label>Password: </label>
                <input class="form-control" type="password" placeholder="Enter Password" id="passwordInput">
        
            </div>
            <div class="form-group w-75 mx-auto">
                <label>Phone: </label>
                <input class="form-control" type="number" placeholder="Enter phone" id="phoneInput">
                <!--alert div-->
                <div class="alert alert-danger text-danger is-invalid d-none" id="phoneInputAlert">
                    <p>Entre a valid phone</p>
                </div>
            </div>
            <div class="form-group w-75 mx-auto">
                
                <button class="btn btn-primary mt-3 mx-auto">Submit</button>
            </div>


        </form>
    </div>
</section>